<head>
<meta charset="utf-8">
<title> 
IWA Conference 2020 Brisbane,
Brisbane, Australia
</title>
<meta name="description" content="the Internation Water Association 2020 Conference">

<!-- Mobile Specific Metas
--------------------------- -->
<meta name="viewport" width="device-width, initial-scale=1.0">

<!-- FONT
--------------------------- -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400" rel="stylesheet">

<!-- CSS
--------------------------- -->
<link rel="stylesheet" href="/css/framework.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.css">

</head>
