<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="{{page.location}}"><a href="location and lodging.html">Location & Lodging</a></li>
        <li class="{{page.travel}}"><a href="travel.html">Travel</a></li>
		<li class="{{page.program}}"><a href="program.html">Program</a></li>
		<li class="{{page.registration}}"><a href="registration.html">Registration</a></li>
		<li class="{{page.speakers}}"><a href="speakers.html">Speakers</a></li>
		<li class="{{page.sponsers}}"><a href="sponsers.html">Sponsors</a></li>
		
    </ul>
    <h3 class="text-muted"><a href="index.html">IWA 2020 Brisbane</a></h3>
</div>
<hr>
